version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: senha
      POSTGRES_DB: clima_db
    ports:
      - "5432:5432"

  app:
    build: .
    restart: always
    depends_on:
      - db